@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&family=Roboto:wght@300&display=swap");
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
* {
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #333 !important;
}

.navbar {
  background-color: #222;
  height: 90px;
  position: fixed;
  z-index: 100;
}
.navbar_logo-img {
  padding: 0;
  height: 80px;
  transition: 0.3s ease all;
}
.navbar_logo-img:hover {
  transform: scale(1.05);
}
.navbar .nav-link {
  color: white;
  padding: 32px;
  background: linear-gradient(to right, rgb(33, 33, 33), rgb(33, 33, 33)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
  background-size: 100% 0px, 0 0px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.navbar .nav-link:hover {
  background-size: 0 1px, 100% 1px;
}

.nav-item {
  justify-content: space-around;
}

@media (max-width: 600px) {
  nav {
    position: absolute;
    z-index: 100;
  }
  .navbar {
    height: auto;
    text-align: center;
  }
  .nav-link:hover {
    background-color: #222 !important;
  }
}
@media (max-width: 2000px) {
  h1 {
    text-align: center !important;
    padding-bottom: 30px;
    color: white;
  }
  .section_img {
    border-radius: 30px;
    transition: 0.3s ease all;
    box-shadow: 6px 6px 28px -8px rgba(0, 0, 0, 0.6);
  }
  .section_img:hover {
    transform: scale(1.1);
  }
  .section_capa {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .section_h1 {
    background-color: #222;
    position: relative;
    text-align: center;
    transition: 0.3s ease all;
  }
  .section_h1:hover {
    transform: scale(1.1);
  }
  .section-img {
    border-radius: 30px;
    transition: 0.3s ease all;
  }
  .section_a {
    padding: 0;
  }
}
p {
  text-align: center;
  color: rgb(255, 255, 255);
}

.scroll {
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000, #000, rgba(0, 0, 0, 0));
  overflow-x: auto;
  overscroll-behavior-x: contain;
  display: flex;
  align-items: start;
}

.scroll > div {
  block-size: var(--size-15);
  aspect-ratio: var(--ratio-square);
}

.hero-texto {
  transition: 0.3s ease all;
}

.hero-texto:hover {
  color: orange;
}

h1 {
  cursor: default;
}

.span-1 {
  cursor: default;
}

.span-1 {
  transition: 0.3s ease all;
}

.span-1:hover {
  color: orange;
}

.span-2 {
  cursor: default;
}

.span-2 {
  transition: 0.3s ease all;
}

.span-2:hover {
  color: orange;
}

.span-3 {
  cursor: default;
}

.span-3 {
  transition: 0.3s ease all;
}

.span-3:hover {
  color: orange;
}

.span-4 {
  cursor: default;
}

.span-4 {
  transition: 0.3s ease all;
}

.span-4:hover {
  color: orange;
}

.span-5 {
  cursor: default;
}

.span-5 {
  transition: 0.3s ease all;
}

.span-5:hover {
  color: orange;
}

.novedades-1 {
  cursor: default;
  background: linear-gradient(to right, rgb(33, 33, 33), rgb(33, 33, 33)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
  background-size: 100% 0px, 0 0px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.novedades-1:hover {
  background-size: 0 5px, 100% 5px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7vw;
}
.main_img_link {
  padding: 0;
  margin: 30px;
  border-radius: 40px;
  transition: 0.3s ease all;
}
.main_img_link:hover {
  transform: scale(1.1);
}

.carta {
  border-radius: 10px;
  height: 20vw;
  padding: 0;
}

@media (max-width: 575px) {
  .main {
    padding-top: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_img_link {
    height: auto;
  }
  .carta {
    height: 400px;
  }
}
.hero-image {
  padding-top: 30px;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img2.wallspic.com/crops/4/6/8/1/7/171864/171864-anime-estetica_del_asesino_de_demonios-tanjiro_kamado-nezuko_kamado-asesino_de_demonios_kimetsu_no_yaiba-1920x1080.jpg");
  background-attachment: fixed;
  height: 51vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media (max-width: 600px) {
  .hero-image {
    padding-top: 30px;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img2.wallspic.com/crops/4/6/8/1/7/171864/171864-anime-estetica_del_asesino_de_demonios-tanjiro_kamado-nezuko_kamado-asesino_de_demonios_kimetsu_no_yaiba-1920x1080.jpg");
    background-attachment: fixed;
    height: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
