
.hero-texto{
  cursor: default;
}

.hero-image {
    padding-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img2.wallspic.com/crops/4/6/8/1/7/171864/171864-anime-estetica_del_asesino_de_demonios-tanjiro_kamado-nezuko_kamado-asesino_de_demonios_kimetsu_no_yaiba-1920x1080.jpg");
    background-attachment: fixed;
    height: 51vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  @media (max-width: 600px){
    .hero-image {
        padding-top: 50px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img2.wallspic.com/crops/4/6/8/1/7/171864/171864-anime-estetica_del_asesino_de_demonios-tanjiro_kamado-nezuko_kamado-asesino_de_demonios_kimetsu_no_yaiba-1920x1080.jpg");
        background-attachment: fixed;
        height: 120vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

  }