@use 'navbar';

body {
    background: #007bff;
    background: #333;
  }
  
  .bg-image {
    background-image: url('https://media.tenor.com/tsfHyLoU0cMAAAAd/chopper-one-piece-chopper.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  