
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7vw;
    
    &_img_link{
        padding: 0;
        margin: 30px;
        border-radius: 40px;
        transition: .3s ease all;
    }
    &_img_link:hover{
        transform: scale(1.1);
    }
}


.carta{
    border-radius:10px;
    height: 20vw;
    padding: 0;
}
@media (max-width: 575px){
    .main{
        padding-top: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_img_link{
            height: auto;
        }
    }

    .carta{
        height: 400px;
    }
}